<table class="tx-products table table-striped table-hover">
    <tr>
        <td>
            <f:translate key="tx_products_domain_model_product.name"/>
        </td>
        <td>
            {product.name}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_products_domain_model_product.description"/>
        </td>
        <td>
            {product.description}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_products_domain_model_product.quantity"/>
        </td>
        <td>
            {product.quantity}
        </td>
    </tr>
</table>
